<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/index.css">    
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">

  <title>Document</title>
</head>
<body>
  <div class="container">
<header>
    <nav class="navbar">
        
        <div class="nav">
          <% if (user) { %>
            <button id="username">Hi <%=user.name %> !</button>
          <button><a href="/logout">Log out</a></button>
          <% } else { %>
          <button><a href="/signup">Sign up</a></button>
        <button><a href="/login">Login</a></button>
        <% } %>
      
    </div>
    </nav>
</header>
    
<div class="homePage">HOME PAGE</div>
<div><a href="/blogs">blogs</a></div>

</div>
</body>
</html>

