<link rel="stylesheet" href="/css/styles.css">
<body>
  
<header>
  <div class="container">
<form action="/signup">
<p class ="animated">Sign up!</p>
  
  <input type="text" name="name" placeholder="Enter your name" required />
  
  <input type="text" name="email" placeholder="Enter an email" required />
  
  <input type="password" name="password" placeholder="Enter a password!" required />
  <button id="Submit" class="submit">Sign up</button>
  <div class="signup">
    <p>Already have an Account? &nbsp;</p>
    <a href="/login">Login</a>
  </div>
</form>

</div>
</header>
<script>
  const form = document.querySelector('form');

  form.addEventListener('submit', 
  async (e) => {
    e.preventDefault();

    // get values
    const name = form.name.value;
    const email = form.email.value;
    const password = form.password.value;

    try{
      // signup is the end point we want to make a request to
      const result = await fetch('/signup',{
        method:'POST',
        body: JSON.stringify({name,email,password}),
        headers: {'Content-Type' : 'application/json'}  //so that it know json is the type of data going to the server
      })
      const data = await result.json();
      console.log(data);
      if(data.errors) {
        if (data.errors.email){
        alert(data.errors.email)
      }
      else if (data.errors.password){
        alert(data.errors.password)
      }
      else if (data.errors.name){
        alert(data.errors.name)
      }
    }
      if (data.user){
        //redirect
        location.assign('/')
      }
    }

    catch(error){
      console.log(error)
    }
  });
</script>
</body>